<div class="container">

	<div class="col-xs-12 col-sm-12 col-md-12">
		<h1><b>Dados Relevantes</b></h1>
		<hr>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<table class="table table-striped table-bordered">
			<tbody *ngIf="numeros">
				<tr>
					<td>NÚMERO DE SERVIDORES DA UFOP</td>
					<td>{{numeros?.totalServidores}}</td>
				</tr>
				<tr>
					<td>NÚMERO DE SERVIDORES COM LATTES</td>
					<td>{{numeros?.totalServComLattes}} ({{calculaPercentServComLattes()}}%)</td>
				</tr>
				<tr>
					<td>NÚMERO DE UNIDADES CADASTRADAS</td>
					<td>{{numeros?.totalUnidades}}</td>
				</tr>
				<tr>
					<td>NÚMERO DE DEPARTAMENTOS CADASTRADOS</td>
					<td>{{numeros?.totalDeptos}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">	
		<h2><b>Unidades</b></h2>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Unidade</th>
					<th>Servidores</th>
					<th>% do total de servidores</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let unid of unidades | orderBy: key : reverse; let i = index">
					<td *ngIf="(i+1).toString().length == 1">0{{i+1}}</td>
					<td *ngIf="(i+1).toString().length > 1">{{i+1}}</td>
					<td><a [routerLink]="['/unidades/' + unid.id]">{{unid?.nome}}</a></td>
					<td>{{unid.totalServidores}}</td>
					<td>{{calculaPercentServ(unid.totalServidores)}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- GRAFICO DE PRODUCAO BIBLIOGRAFICA -->
	<ua-chart [tipo]="'totalProd'"></ua-chart>

	<!-- GRAFICO DE ORIENTACOES -->
	<ua-chart [tipo]="'totalOrient'"></ua-chart>

	<!-- GRAFICO DE SERVIDORES -->
	<ua-pie-chart></ua-pie-chart>

	<!-- GRAFICO DE PRODUCAO BIBLIOGRAFICA POR TIPO -->
	<ua-prod-pie-chart></ua-prod-pie-chart>

</div>
