<!-- INÍCIO DO CONTEÚDO -->
<!-- <img src="../../assets/img/red-curved-arrow.png" alt=""> -->
<div class="content-wrapper">
	<div class="container">

		<section class="content">
			<ua-search-bar></ua-search-bar> 
		  	<div class="jumbotron welcome-jumbotron">
				<h1>Bem vindo à plataforma UFOP Ativa!</h1>
			    <div class="subtitle-panel"><p class="subtitle">Aqui você pode visualizar de maneira simples e intuitiva informações relacionadas as competências da UFOP.</p></div> 
		  	</div>

		</section>
	</div>
</div>
<!-- FIM DO CONTEÚDO -->