<div class="container">

	<div>
		<h2><b>Departamento: {{departamento?.nome}} </b></h2>
		<h3><b>Unidade: <a *ngIf="departamento?.unidade" [routerLink]="['/unidades/' + departamento?.unidade.id]"> {{departamento?.unidade.nome}} ({{departamento?.unidade.sigla}})</a></b></h3>
		<h3><i *ngIf="!departamento?.unidade"> SEM UNIDADE</i></h3>
		<hr>

		<div class="col-xs-12 col-sm-6 col-md-6">
			<h4><b>Servidores: {{servidores?.length}}</b></h4>
			<h4><b>Servidores com Lattes: {{departamento?.totalServComLattes}} ({{calculaPercentServComLattes()}}%)</b></h4>
		</div>

	<!-- GRAFICO DE PRODUCAO BIBLIOGRAFICA -->
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3><b>Produção Bibliográfica</b></h3>
		<hr>
		<ua-loading *ngIf="!graficoProdBibRenderizou"></ua-loading>
		<div class="card card-body">
			<!-- <ua-loading></ua-loading> -->
			<div class="chart-margin" id="chartContainerProdBib" style="height: 370px; width: 100%;"></div>
		</div>
	</div>

	<!-- GRAFICO DE ORIENTACOES -->
	<!-- <ua-chart [titulo]="'Orientações Concluídas'" [orientacoes]="orientacoesConc" [nome]="'chartContainerOrient'"></ua-chart> -->
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3><b>Orientações Concluídas</b></h3>
		<hr>
		<ua-loading *ngIf="!graficoOrientConcRenderizou"></ua-loading>
		<div class="card card-body">
			<div id="chartContainerOrient" style="height: 370px; width: 100%;"></div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6">
		<h3><b>Servidores <small>Por ordem alfabética</small></b></h3>
		<hr>
		<table class="table table-striped">
			<tbody>
				<tr *ngFor="let serv of servidores; let i = index">
					<td>{{i+1}}</td>
					<td><a [routerLink]="['/pessoas/' + serv.id]"> {{serv.nomeCompleto | uppercase}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- class="col-xs-6 col-sm-12 col-md-6" -->