<div class="container">

	<div>
		<h2><b>Departamento: {{departamento?.nome}} </b></h2>
		<h3><b>Unidade: <a *ngIf="departamento?.unidade" [routerLink]="['/unidades/' + departamento?.unidade.id]"> {{departamento?.unidade.nome}} ({{departamento?.unidade.sigla}})</a></b></h3>
		<h3><i *ngIf="!departamento?.unidade"> SEM UNIDADE</i></h3>
		<hr>

		<div class="col-xs-12 col-sm-6 col-md-6">
			<h4><b>Servidores: {{servidores?.length}}</b></h4>
			<h4><b>Servidores com Lattes: {{departamento?.totalServComLattes}} ({{calculaPercentServComLattes()}}%)</b></h4>
		</div>

	<!-- GRAFICO DE PRODUCAO BIBLIOGRAFICA -->
	<ua-prod-stacked-chart [tipo]="'depto'"></ua-prod-stacked-chart>

	<!-- GRAFICO DE ORIENTACOES -->
	<ua-orient-stacked-chart [tipo]="'depto'"></ua-orient-stacked-chart>

	<div class="col-xs-12 col-sm-6 col-md-6">
		<h3><b>Servidores <small>Por ordem alfabética</small></b></h3>
		<hr>
		<table class="table table-striped">
			<tbody>
				<tr *ngFor="let serv of servidores; let i = index">
					<td>{{i+1}}</td>
					<td><a [routerLink]="['/pessoas/' + serv.id]"> {{serv.nomeCompleto | uppercase}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- class="col-xs-6 col-sm-12 col-md-6" -->