<div class="container">
  <section class="content">
      <h1><b>Sobre o Sistema</b></h1>
      <hr>
      <p class="lead">
        UFOP Ativa | Sistema de mapeamento de competências da UFOP
      </p>
      <h2><b>UFOP Ativa</b></h2>
      <p class="lead">A humanidade foi e continuará sendo movida pelo conhecimento e pelas inovações que são oriundas das pesquisas que são realizadas dia após dia no mundo inteiro. Atualmente, a UFOP conta com mais de mil e seiscentos servidores e, grande parte destes estão envolvidos em diversos projetos e realizam pesquisas e orientações nas mais diversas áreas de estudo presentes na universidade. Este projeto teve como principal finalidade o desenvolvimento da versão inicial da ferramenta <b>UFOP Ativa</b>, um sistema que agrupe e organize em um banco de dados as informações, provenientes da Plataforma Lattes e da própria UFOP, que estejam relacionadas aos servidores que atuam na universidade. Além disso, o sistema teve como objetivo ser organizado, com uma interface amigável.</p>
      <h2><b>Equipe do Projeto</b></h2>
        <ul class="lead">
          <li>Mateus Vitor Pereira Lana (Orietando)</li>
          <li>Anderson Almeida Ferreira (Orientador)</li>
          <li>Helgem de Souza Ribeiro Martins (Co-orientador)</li>
        </ul>
      <h2><b>Outras Informações</b></h2>
      <p class="lead">Implementação do projeto de Monografia apresentado ao Curso de Ciência da Computação da Universidade Federal de Ouro Preto como parte dos requisitos necessários para a obtenção do grau de Bacharel em Ciência da Computação no dia 12/12/2019. </p>
  </section>
</div>