<!-- COLOCAR DEPOIS O CONTATO DOS RESPONSAVEIS -->
<div class="container">
	<section class="content">
		<h1><b>Fale Conosco</b></h1>
		<hr>
		<p class="lead"><b>Email:</b> mateus_lana7@hotmail.com</p>
		<a href="https://www.linkedin.com/in/mateus-lana-388145195"><i class="fa fa-linkedin-square fa-3x icon-style" ></i> </a>
		<a href="https://www.facebook.com/mateus.vitor.733"><i class="fa fa-facebook-square fa-3x icon-style" ></i> </a>
		<a href="https://www.instagram.com/mateuslana_/?hl=pt-br"><i class="fa fa-instagram fa-3x icon-style" ></i> </a>
		<a href="https://api.whatsapp.com/send?phone=+5531988906215"><i class="fa fa-whatsapp fa-3x" ></i> </a>
	</section>
</div>