a{
  color: #fff;
}

.container img {
    max-width:180px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15px;
}

/* .logo-img{
  background-image: url('../../assets/img/logo-ufop/ufop-logo.jpg');
} */

.active{
    text-decoration: none;
    background-color: #eee;
    border-radius: 5px;
    color: #555;
}

.search-bar{
  border-radius: 4px;
  margin-bottom: 5px;
}

.update-date{
  color: #FFF;
  margin-right: 15px;
  margin-top: 5px;
}

