<div class="container">
	<div>
		<h2><b>Unidade: {{unidade?.nome}} ({{unidade?.sigla}})</b></h2>
		<hr>
		<h4><b>Departamentos: {{departamentos?.length}}</b></h4>
		<h4><b>Servidores: {{unidade?.totalServidores}}</b></h4>
		<h4><b>Servidores com Lattes: {{unidade?.totalServComLattes}} ({{calculaPercentServComLattes()}}%)</b></h4>
	</div>

	<!-- GRAFICO DE PRODUCAO BIBLIOGRAFICA -->
	<ua-chart [tipo]="'unidProd'"></ua-chart>

	<!-- GRAFICO DE ORIENTACOES -->
	<ua-chart [tipo]="'unidOrient'"></ua-chart>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3><b>Departamentos</b></h3>
		<hr>
		<a class="btn btn-primary btn-lg btn-block" *ngFor="let depto of departamentos" [routerLink]="['/departamentos/' + depto.id]">{{depto.nome | uppercase}} <small>({{depto.totalServidores}} servidores)</small></a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6">
		<h3><b>Servidores <small>Sem departamento</small></b></h3>
		<hr>
		<table class="table table-striped">
			<tbody>
				<tr *ngFor="let serv of servidoresSemDepto; let i = index">
					<td>{{i+1}}</td>
					<td><a [routerLink]="['/pessoas/' + serv.id]"> {{serv.nomeCompleto | uppercase}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>